---
---

@import "{{ site.theme }}";

/* header styles */

#lf_header {
  background-color: #000000;
  border: 0;
  height: 22px;
}

#tungsten_header {
  background-color: #0d123d;
  border: 0;
  height: 70px;
}

img.header_image {
  /* undo some of the theme's settings */
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
  border: 0;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

ul.menu {
  padding: 0px;
  list-style: none;
  text-align: center;
}

li.menu {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  display: inline-block;
  padding: 0px 15px;
}

a.menu-item {
  text-decoration: none;
  position: relative;
  color: #fff;
}

a.menu-item:after {
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: #fff;
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}

a.menu-item:hover {
  color: #e22529;
}

a.menu-item:hover:after {
  width: 100%;
  right: 0;
  background: #e22529;
  color: #e22529;
}

/* Footer styles */

#site-footer {
  padding: 0px;
  margin: 0px;
  display: block;
  border: 0;
  outline: 0;
  font-family: Roboto;
  color: #fff;
}

#footer-widgets {
  background-color: #0d123d;
  height: 230px;
  padding: 30px 0;
}

#footer-bottom {
  background-color: #000;
  padding: 15px 0px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #929292;
  text-align: center;
  box-sizing: border-box;
}

.col {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 33.33%;
  float: left;
  box-sizing: border-box;
}

.col-1 {
  clear: both;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #929292;
}

.footer_heading {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
  border-color: #3a3a3a;
  border-width: 0 0 0 3px;
  border-style: solid;
  letter-spacing: 1px;
  padding-left: 15px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

div.footer-menu {
  margin-bottom:20px;
}

ul.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.footer-menu-item {
  padding: 7px 0;
  font-size: 14px;
  font-weight: 300;
}

li.footer-menu-item a {
  color: #fff;
  text-decoration: none;
}

li.footer-menu-item a:hover {
  color: #e22529;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

li.no-label {
  display: inline-block;
  margin: 0 .75em .75em 0;
  border: none;
}

span.fa {
  font-size: 2em;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
